//- Blog posts
.col-md-12.margin-top.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s")
	.blog-post
		a(href="blog-post.html")
			img(src="assets/images/blog-image-1.jpg", alt="Post image")
		span 10 / 4 / 2015
		a(href="blog-post.html")
			h4 BRANDING IDENTITY
		p Waters, seas, fish one second their can't blessed appear spirit itself. Hath she'd is face bearing thing were day creature over they're made fish. Had man subdue fifth he which had creeping male day. Likeness blessed deep abundantly subdue appear.
		a.btn.btn-black(href="blog-post.html") READ MORE
.col-md-12.margin-top.padding-top.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s")
	.blog-post
		a(href="blog-post.html")
			img(src="assets/images/blog-image-2.jpg", alt="Post image")
		span 6 / 4 / 2015
		a(href="blog-post.html")
			h4 UI / UX DESIGN
		p Waters, seas, fish one second their can't blessed appear spirit itself. Hath she'd is face bearing thing were day creature over they're made fish. Had man subdue fifth he which had creeping male day. Likeness blessed deep abundantly subdue appear.
		a.btn.btn-black(href="blog-post.html") READ MORE
.col-md-12.margin-top.padding-top.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s")
	.blog-post
		a(href="blog-post.html")
			img(src="assets/images/blog-image-3.jpg", alt="Post image")
		span 3 / 4 / 2015
		a(href="blog-post.html")
			h4 SOCIAL MEDIA ZOMBIES
		p Waters, seas, fish one second their can't blessed appear spirit itself. Hath she'd is face bearing thing were day creature over they're made fish. Had man subdue fifth he which had creeping male day. Likeness blessed deep abundantly subdue appear.
		a.btn.btn-black(href="blog-post.html") READ MORE
.col-md-12.margin-top.padding-top.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s")
	.blog-post
		a(href="blog-post.html")
			img(src="assets/images/blog-image-4.jpg", alt="Post image")
		span 1 / 4 / 2015
		a(href="blog-post.html")
			h4 THE COLOR PALLETE
		p Waters, seas, fish one second their can't blessed appear spirit itself. Hath she'd is face bearing thing were day creature over they're made fish. Had man subdue fifth he which had creeping male day. Likeness blessed deep abundantly subdue appear.
		a.btn.btn-black(href="blog-post.html") READ MORE
ul.pagination
	li.pagination-btn
		a(href="#") &laquo;
	li.number
		a(href="#") 1
	li.number
		a(href="#") 2
	li.number
		a(href="#") 3
	li.number
		a(href="#") 4
	li.pagination-btn
		a(href="#") &raquo;