//- Counters Section (services)
.col-sm-6.col-md-6.col-lg-3.counter-wrap.counter-dark.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s")
	i.icon-basic-heart
	span.counter 65
	h3 AWARDS
	p Famous award-websites are rewarding.
.col-sm-6.col-md-6.col-lg-3.counter-wrap.counter-light.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.1s")
	i.icon-basic-magic-mouse
	span.counter 452
	h3 PROJECTS
	p We've done a lot of projects, check them out.
.col-sm-6.col-md-6.col-lg-3.counter-wrap.counter-semi-dark.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.2s")
	i.icon-basic-signs
	span.counter 105
	h3 CLIENTS
	p Serving our awesome clients with pride.
.col-sm-6.col-md-6.col-lg-3.counter-wrap.counter-light.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.3s")
	i.icon-basic-notebook-pen
	span.counter 15
	h3 YEARS
	p We have been around for many years.