//- Footer
footer
	.container
		.col-md-12.text-center.os-animation(data-os-animation="fadeInUp" data-os-animation-delay="0s")
			.section-head 
				h4 NEWSLETTER
				p Subscribe to our newsletter to receive news, updates	and the latest projects we are working on.
		.col-md-12.margin-top.margin-bottom.os-animation(data-os-animation="fadeInUp" data-os-animation-delay="0s")
			form.newsletter-form.text-center
				input.form-control(placeholder="YOUR EMAIL ADDRESS...")
				button(type="submit") I'M IN
				.col-md-12.text-center.margin-top
					small You have our word, no spam. Ever.
		.col-md-12.margin-top
			hr
		.col-md-6.text-left.small-screen-text-center
			.footer-message
				p 2015 © AVOIR - Crafted by Andrewch
		.col-md-6.text-right.small-screen-text-center
			ul.social-icons
				li
					a(href="#") DRIBBBLE
				li
					a(href="#") BEHANCE
				li
					a(href="#") TWITTER