//- Go top
.go-top
	svg(width="20" height="10" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg")
		g
			line(fill="none" stroke="#000000" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="10.1534" y1="0.67528" x2="-7.98707" y2="18.81575" id="svg_2")
			line(fill="none" stroke="#000000" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="9.62429" y1="0.49521" x2="30.09178" y2="20.9627" id="svg_3")
			line(id="svg_1" fill="none" stroke="#000000" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="10.22833" y1="1.92972" x2="-7.91214" y2="20.07019")
			line(id="svg_4" fill="none" stroke="#000000" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="9.69923" y1="1.74964" x2="30.16672" y2="22.21713")