//- Instagram Widget
.col-md-12.text-center.section-head.padding-bottom
	small WE ARE ON
	h3 INSTAGRAM
	p Check out our firm's daily process and routine at instagram. We love to shoot pics, and we think it's fun to share with the world all this positive energy we have.
.row-fluid
	ul.instagram-widget
		li.col-md-3.col-sm-6.col-xs-6
			.row
				a(href="#!")
					img(src="assets/images/widget-image-1.jpg", alt="Widget Image")
		li.col-md-3.col-sm-6.col-xs-6
			.row
				a(href="#!")
					img(src="assets/images/widget-image-2.jpg", alt="Widget Image")
		li.col-md-3.col-sm-6.col-xs-6
			.row
				a(href="#!")
					img(src="assets/images/widget-image-3.jpg", alt="Widget Image")
		li.col-md-3.col-sm-6.col-xs-6
			.row
				a(href="#!")
					img(src="assets/images/widget-image-4.jpg", alt="Widget Image")
.container
	.col-md-12.padding-top.text-center
		a.btn.btn-link FOLLOW US 
