//- Loader
.loading.text-center.vertical-middle
	.row
		img.loader(src="assets/images/loader.gif", width="60", alt="Loader logo")
		img.loader-logo(src="assets/images/logo/logo-white.png", width="60", alt="Loader logo")
		//- h5.cd-headline.clip.loader-text
		//- 	span.cd-words-wrapper
		//- 		b.is-visible  Hold tight
		//- 		b  We are loading
		//- 		b  Almost done