//- Monitor Section (services)
.col-md-12.text-center(style="margin-top:-100px")
	.row
		.col-md-12
			.monitor-image
				img(src="assets/images/monitor.png")
			.monitor-slider-wrap
				.monitor-slider
					div
						img(src="assets/images/monitor-image-1.jpg")
					div
						img(src="assets/images/monitor-image-2.jpg")
		.col-md-12.text-center.margin-top.padding-top
			.text-block
				h3.cd-headline.letters.type
					span  WE CRAFT&nbsp;
					span.cd-words-wrapper
						b.is-visible WEB EXPERIENCES
						b INTERACTIVE UI
						b CREATIVE PROJECTS
				img(src="assets/images/section-decor-black.png", width="60")
				p.lead Also living behold moving female that beginning bring make under stars morning above also grass evening heaven darkness.
				p.lead We are constantly striving to bring top level support and services.
				a(href="contact.html").btn.btn-black.margin-top LET'S WORK TOGETHER