//- Scripts
<script src="assets/js/packages.js"></script>
<script src="assets/js/theme.js"></script>
<script src="assets/js/map.js"></script>
<script src="assets/js/contact.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>