@font-face {
    font-family: Function;
    src: url("../fonts/Function-Regular.ttf");
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font: inherit;
}

body {
    background-color: white;
    color: #1A1A1A;
    font-family: Function;
    font-weight: 400;
    font-size: 16px;
}

h1 {
    font-size: 50px;
    font-family: Function;
    font-weight: 700;
}

h2 {
    font-size: 18px;
    font-weight: 500;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #1A1A1A;
    font-weight: 470;
}

a:hover {
    text-decoration: none;
    color: #1A1A1A;
}

body.body-animated {
    font-size: 100px;
    -webkit-animation: fadeIn 0.7s;
    animation: fadeIn 0.7s;
}

.main-navigation {
    background-color: #fdfdfd;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar {
    float: right;
    display: inline-block;
    font-family: Function;
    font-weight: bold;
}

.navbar li {
    display: inline-block;
    margin-left: 50px;
}

.logo {
    float: left;
    display: inline-block;
}

.navbar li a:not(.menu-btn):hover {
    border-bottom: 1px black solid;
}

a.special-link {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    border: 2px black solid;
    border-radius: 25px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 12px;
    padding-left: 12px;
}

a.special-link:hover {
    background-color: darkblue;
    color: white;
}

.first-link {
    margin-top: 10px;
    color: black;
}

a.active {
    border-bottom: 2px black solid;
}

a.generic {
    border-bottom: 1px black solid;
}

.header-container {
    margin-top: 30px;
}

.first {
    height: 600px;
    padding: 40px;
    padding-top: 120px;
    background-color: lightskyblue;
}

.left-first {
    height: 600px;
}

.right-first {
    margin-top: 20px;
    padding: 50px;
    height: 600px;
    color: black;
}

.phone-img-1 {
    height: 600px;
    position: absolute;
}

.phone-img-2 {
    height: 580px;
    margin-left: 200px;
    margin-top: 50px;
    position: absolute;
}

.second {
    position: absolute;
    height: 460px;
    width: 100%;
    padding: 40px;
    padding-top: 60px;
}

.content-second {
    float: right;
    text-align: right;
}

.table {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.table__legend, .column {
  flex: 1;
}

.table__legend {
  margin-top: 4.5625rem;
  color: #666;
}

.column {
  margin-right: 1.875rem;
}

.table__block {
  margin-bottom: 1.9375rem;
}

@media (max-width: 991px) {
    .left-first {
        margin-top: 30px;
    }
    .phone-img-1 {
        height: 500px;
    }
    .phone-img-2 {
        height: 480px;
    }
    .right-first {
        margin-top: -130px;
    }
    .second {
        margin-top: 220px;
    }
    
}

@media (max-width: 767px) {
    .second {
        margin-top: 270px;
    }
    .column {
    margin: 0 10px;
    width: 100%;
    }

    .table__item {
    display: inline-block;
    font-size: 0.9375rem;
    }
    .table__item:not(:last-child):after {
    content: ",";
    }

    .table__legend {
    display: none;
    }

    .table__block {
    margin-bottom: 0.9375rem;
    }
    .table__block:before {
    content: attr(data-type);
    display: block;
    font-size: 0.8125rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    margin: 10px 0 5px 0;
    }
}

.third {
    padding: 60px 0;
    margin-top: 350px;
    min-height: 100vh;
}

.sec-title {
    position: relative;
    margin-bottom: 50px;
}

.sec-title h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.sec-title h1:before {
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 60px;
    height: 2px;
    content: "";
    background: #3e9001;
}

.sec-title h1:after {
    position: absolute;
    left: 20px;
    bottom: 0px;
    width: 60px;
    height: 2px;
    content: "";
    background: #3e9001;
}

.sec-title.centered h1:after,
.sec-title.centered h1:before {
    right: 0;
    margin: 0 auto;
}

.sec-title.centered {
    text-align: center;
}

.working-process-step {
    position: relative;
}

.working-process .row {
    margin: 0 -65px;
}

.process-block{
    position:relative;
    margin-bottom:40px;
    padding: 0 65px;
}

.process-block .inner-box{
    position:relative;
    padding: 50px 35px 33px;
    box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1);
    transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    background-color:#ffffff;
    text-align: center;
    transition: .5s ease;
}

.process-block .inner-box:hover {
    box-shadow: 0px -10px 39px 0px rgba(8, 18, 109, 0.1);
    transform: translateY(-10px);
}

.process-block:nth-child(2) .inner-box {
    margin-top: 70px;
}

.process-block .inner-box .count-box {
    position: relative;
    width: 80px;
    height: 80px;
    background: #3e9001;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Muli', sans-serif;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    border-radius: 10px;
    margin-bottom: 25px;
}
.process-block .inner-box h3{
    position:relative;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.process-block .inner-box .text{
    position:relative;
    color:#777777;
    font-size:14px;
    line-height:1.8em;
    margin-bottom:18px;
    transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
}

@keyframes float-bob-y {
  0% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  50% {
    -webkit-transform: translateY(-1.px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.float-bob-y{
    animation-name: float-bob-y; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  
  -webkit-animation-name: float-bob-y; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
  
  -moz-animation-name: float-bob-y; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
  
  -ms-animation-name: float-bob-y; 
    -ms-animation-duration: 2s; 
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
  
  -o-animation-name: float-bob-y; 
    -o-animation-duration: 2s; 
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}

/*
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
    transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}
*/
