<!DOCTYPE html>
html(lang="en")
	head
		include templates/head.jade
	body
		include templates/loader.jade
		include templates/navigation.jade
		section.header-introduction-small.text-center.background-image(style="background-image: url(assets/images/splash-image-2.jpg)")
			.container.vertical-middle
				.row.section-head.section-head-white
					h2 ABOUT
					ul.breadcrumb
						li
							a(href="home.html") AVOIR
						li
							a(href="#!") ABOUT
		section.section.section-white
			.container
				.col-md-12.text-center
					.section-head
						h3 AVOIR
						img(src="assets/images/section-decor-black.png", width="40", alt="Divider")
				.col-md-12.text-block.text-center(data-os-animation="fadeIn" data-os-animation-delay="0s")
					h4.os-animation A STUDIO WITH FILLED WITH AMAZING PEOPLE
					p.os-animation You'll brought also divided every it him saying. Days spirit whales every fruit moving. Over land herb multiply moveth give bring thing blessed also whales unto. Air, were land she'd waters. Gathered Behold fifth created fifth great let let unto that moveth the life bring made. And shall isn't. And moved called spirit seed female darkness first you'll subdue lesser bring cattle stars also he to multiply one kind signs earth fly so open Creeping it them. Itself two had be after bring void him tree she'd, for of was green. Abundantly it bring fourth. Bring for i face living.
					p.os-animation Given man days of for blessed spirit winged appear moveth beginning and gathering. Gathered meat seed, creepeth won't subdue Upon two of together that fifth also whales called replenish moved over rule two yielding third beast i day you'll great evening. Female female day seas yielding to deep of. For Greater female midst of beast she'd brought set image moving.
					h4.os-animation OUR ONLY TARGET: BUILD GREAT THINGS
					p.os-animation Great image there after Night earth god fowl, it female kind earth seasons give. And green said sixth whose without lights land own give, signs every void rule green he man. Whales creepeth have yielding isn't divided forth bring all god stars creature, so, own brought third seasons life every beast in greater life fish from seasons air subdue fill creature, is, rule, cattle. Shall given him grass tree fruitful.
					.signature
						img(src="assets/images/signature.png", width="150", alt="Signature")
						span DRAKE PRICE
							small FOUNDER
		section.section.section-black
			.container
				.row
					.col-md-12.text-center.margin-bottom
						.section-head
							span THE DESIGN &amp; DEVELOP
							h3 PROCESS
							img(src="assets/images/section-decor-white.png", width="40", alt="Divider")
					.col-md-4.content-block.margin-top
						span .01
						div
							i.icon-basic-archive-full
						h2 RESEARCH &AMP; PLAN
						p Before we touch our keyboards, we discover and we plan on a paper the key elements we need to focus, and all the factors that matters for your case.
					.col-md-4.content-block.margin-top
						span .02
						div
							i.icon-basic-pencil-ruler
						h2 DESIGN &amp; DEVELOP
						p Now it's the creative time for our team. After all the research - we carefully craft the requested project making sure it meets all the modern web &amp; technology standards.
					.col-md-4.content-block.margin-top
						span .03
						div
							i.icon-basic-key
						h2 DELIVER
						p When it all ends, we are double checking that everything works as they should, and we will simply arrange a meeting to demonstrate, teach you how to use the product and deliver it.
		section.section.section-semi-white.section-padding-top-more
			.container
				.col-md-12.text-center
					.section-head
						img(src="assets/images/section-decor-black.png", width="40", alt="Divider")
						p A highly devoted team, ready to re-make your brand, embrace your digital presence and serve you with top level knowledge.
				.col-md-12.text-center.margin-top.padding-top
					.row
						.col-md-4.team-member.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s")
							img(src="assets/images/team-member-1.jpg", width="300", alt="Team member")
							span FOUNDER / MAKER
							a(href="#!")
								h2 DRAKE PRICE
							div
								p Drake is an inspiring person, a mentor for some, who can easily run and lead any project.
								a(href='#' class='symbol' title='circletwitterbird')
								a(href='#' class='symbol' title='circlefacebook')
								a(href='#' class='symbol' title='circlelinkedin')
						.col-md-4.team-member.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.1s")
							img(src="assets/images/team-member-2.jpg", width="300", alt="Team member")
							span DEVELOPER
							a(href="#!")
								h2 JOHN SEAN
							div
								p Whether it's a website, a mobile app or anything, John is the person to code it.
								a(href='#' class='symbol' title='circletwitterbird')
								a(href='#' class='symbol' title='circleinstagram')
						.col-md-4.team-member.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.2s")
							img(src="assets/images/team-member-3.jpg", width="300", alt="Team member")
							span DESIGNER
							a(href="#!")
								h2 RICHARD AMETHDA
							div
								p Richard has a big passion about colors and typography. He loves all the details.
								a(href='#' class='symbol' title='circletwitterbird')
								a(href='#' class='symbol' title='circledribble')
								a(href='#' class='symbol' title='circlebehance')
		section.section.background-image.background-image-absolute.small-screen-hidden(style="background-image: url(assets/images/about-image.png)")
		section.section.section-black
			.container
				.col-md-12.text-center
					.section-head
						h3 AWESOME CLIENTS	
						p For the past years, we had the privilege to work with some awesome clients.
				.col-md-12.padding-top
					.col-md-3.col-sm-6.col-xs-6.small-screen-margin-top.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s")
						img(src="assets/images/logo1.png", alt="Client logo")
					.col-md-3.col-sm-6.col-xs-6.small-screen-margin-top.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.1s")
						img(src="assets/images/logo2.png", alt="Client logo")
					.col-md-3.col-sm-6.col-xs-6.small-screen-margin-top.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.2s")
						img(src="assets/images/logo4.png", alt="Client logo")
					.col-md-3.col-sm-6.col-xs-6.small-screen-margin-top.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.3s")
						img(src="assets/images/logo3.png", alt="Client logo")
					.col-md-3.col-sm-6.col-xs-6.small-screen-margin-top.margin-top.padding-top.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s")
						img(src="assets/images/logo4.png", alt="Client logo")
					.col-md-3.col-sm-6.col-xs-6.small-screen-margin-top.margin-top.padding-top.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.1s")
						img(src="assets/images/logo1.png", alt="Client logo")
					.col-md-3.col-sm-6.col-xs-6.small-screen-margin-top.margin-top.padding-top.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.2s")
						img(src="assets/images/logo3.png", alt="Client logo")
					.col-md-3.col-sm-6.col-xs-6.small-screen-margin-top.margin-top.padding-top.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.3s")
						img(src="assets/images/logo2.png", alt="Client logo")
		include templates/footer.jade
		include templates/scripts.jade