<!DOCTYPE html>
html(lang="en")
	head
		include templates/head.jade
	body
		include templates/loader.jade
		include templates/navigation.jade
		section.section.section-white.section-fullheight.section-nopadding
			.container-fluid
				.row
					ul.fullscreen-wrap
						li.col-lg-4.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s")
							.row
								.grid-item.background-color-4
									a(href="portfolio-single.html")
										img(src="assets/images/portfolio-grid-1.jpg", alt="Portfolio Image")
										.masonry-item-overlay
											.masonry-item-overlay-inner
												h2 PENCIL
												p ILLUSTRATION
						li.col-lg-4.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.2s")
							.row
								.grid-item.background-color-1
									a(href="portfolio-single.html")
										img(src="assets/images/portfolio-grid-2.jpg", alt="Portfolio Image")
										.masonry-item-overlay
											.masonry-item-overlay-inner
												h2 COVER
												p PRINT
						li.col-lg-4.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s")
							.row
								.grid-item.background-color-2
									a(href="portfolio-single.html")
										img(src="assets/images/portfolio-grid-5.jpg", alt="Portfolio Image")
										.masonry-item-overlay
											.masonry-item-overlay-inner
												h2 TEA POT
												p PRINT
						li.col-lg-4.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.2s")
							.row
								.grid-item.background-color-2
									a(href="portfolio-single.html")
										img(src="assets/images/portfolio-grid-3.jpg", alt="Portfolio Image")
										.masonry-item-overlay
											.masonry-item-overlay-inner
												h2 MAGAZINE
												p PRINT
						li.col-lg-4.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.2s")
							.row
								.grid-item.background-color-4
									a(href="portfolio-single.html")
										img(src="assets/images/portfolio-grid-4.jpg", alt="Portfolio Image")
										.masonry-item-overlay
											.masonry-item-overlay-inner
												h2 NINE
												p ILLUSTRATION
						li.col-lg-4.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0.4s")
							.row
								.grid-item.background-color-3
									a(href="portfolio-single.html")
										img(src="assets/images/portfolio-grid-6.jpg", alt="Portfolio Image")
										.masonry-item-overlay
											.masonry-item-overlay-inner
												h2 POSTER
												p PRINT
						li.col-lg-12.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s")
							.row
								.grid-item.background-color-1
									a(href="portfolio-single.html")
										img(src="assets/images/portfolio-big-2.jpg", alt="Portfolio Image")
										.masonry-item-overlay
											.masonry-item-overlay-inner
												h2 BRANDING
												p WEB
		include templates/footer.jade
		include templates/scripts.jade